body {
    font-family: sans-serif;
    font-size: 0.875rem;
    line-height: 1.2rem;
    margin: 0 auto;
    max-width: 50rem;
    padding: 1rem;
}
@media screen and (min-width: 768px) {
    body {
        line-height: 1.5rem;
    }
}
nav {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}
hr {
	border: 1px solid #e5e5e5;
}
a {
    color: #0990fc;
}
fieldset {
    border: 1px solid #e5e5e5;
}
h1,
h2,
strong,
legend {
    font-weight: 600;
}
input,
select {
    font-family: inherit;
}
main input[type="submit"],
main button {
    background-color: #006aa5;
    border: 1px solid #006aa5;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: inherit;
    margin: 1rem 0;
    padding: 0.4rem 1.2rem;
}
input[type="number"] {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    color: #495057;
    font-size: inherit;
    padding: 0.3rem 0.5rem;
}
blockquote span {
    font-size: xx-large;
    font-weight: bold;
}
pre {
	display: none;
}
footer {
    color: #888;
}
